@model PaylasimEkleViewModel
@{
    ViewData["Title"] = "Yeni Paylaşım";
}

<h1>@ViewData["Title"]</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Aciklama">Açıklama</label>
        <input asp-for="Aciklama" class="form-control" />
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Resim">Resim</label>
        <div id="onizleme" class="onizleme mb-2 d-none">
            <img src="#" alt="Önizleme" height="200" />
        </div>
        <input asp-for="Resim" type="file" class="form-control-file">
        <span asp-validation-for="Resim" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Gönder</button>
</form>

@section Scripts {
    <script>
        var img = $("#onizleme > img")[0];

        $("#Resim").change(function (event) {
            var dosya = this.files[0];

            if (dosya && dosya.type.startsWith("image/")) {
                img.src = URL.createObjectURL(dosya);
                $("#onizleme").removeClass("d-none");
            }
            else {
                img.src = "#";i
                $("#onizleme").addClass("d-none");
            }
        });
    </script>
}